@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#main{
    width: 100%;
    font-family: 'Spline Sans', sans-serif;
    
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#asd{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 50px;
    justify-content: center;
}

#Form {
    width: 300px;
    margin-right: 50px;
}

.hashButton{
    width: 40%;
    margin-top: 10px;
}

#hashText{
    resize: none;
    height: 383px;
    font-family: 'Spline Sans', sans-serif;
}

#header{
    color: #68bcdc;
    font-family: 'Pacifico', cursive;
    height: 100px;
    margin: 0 10%;
    background-color: #201c1c;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    font-size:x-large;
}

#list{
    margin: 0 50px;
}